* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  font-size: 2rem;
  color: green;
}

nav ul a {
  text-decoration: inherit;
  font-size: inherit;
  color: inherit;
}
.drop-parent {
  position: relative;
}
.drop-parent::after {
  content: " >";
  color: inherit;
}
.drop-menu {
  position: absolute;
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s linear;
}

.drop-menu ul {
  flex-direction: column;
}
